.detail-page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
  font-family: "Roboto";
  background-color: rgb(171, 220, 170);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 100vh;
  padding: 30px;
}

.detail-page-heading {
  color: #b94c15;
  text-align: center;
  font-family: "Roboto";
  font-size: 35px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.customer-name {
  color: #2f2828;
  font-family: "Roboto";
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.customer-card {
  display: inline-block;
  flex-wrap: wrap;
  width: 50%;
  background-image: linear-gradient(to left, #00d4ff, #eeaeca);
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.edit-btn {
  color: #b613a3;
  padding: 10px 30px;
  font-weight: bold;
  font-family: "Roboto";
  font-size: 15px;
  background-color: #9198e5;
  margin-top: 25px;
  border-radius: 10px;
  border: 1px solid #2abe9e;
}

p {
  color: #303030;
  font-size: 20px;
}

.address-heading {
  color: #5e0394;
  font-family: "Roboto";
  font-size: 30px;
  text-decoration: underline;
}
button.delete-btn {
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 12px;
  margin: 5px;
  background-color: #cb5a04;
  color: #f6f6fa;
  font-weight: bold;
  font-family: "Roboto";
}
